<main class="container">
    <div class=" my-5 d-flex justify-content-center">
      <form action="../../action/1/E2/formAction.php" method="POST" novalidate>
        <label for="lunes">Lunes:</label> <br />
        <input type="number" name="lunes" value="0" min="0" /> <br /><br />

        <label for="martes">Martes:</label> <br />
        <input type="number" name="martes" value="0" min="0" /> <br /><br />

        <label for="miercoles">Miércoles:</label> <br />
        <input type="number" name="miercoles" value="0" min="0" /> <br /><br />

        <label for="jueves">Jueves:</label> <br />
        <input type="number" name="jueves" value="0" min="0" /> <br /><br />

        <label for="viernes">Viernes:</label> <br />
        <input type="number" name="viernes" value="0" min="0" /> <br /><br />

        <button class="btn btn-primary" type="submit">Calcular Total de Horas</button>
    </div>
  </main>

